@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Recoleta';
    src: url('/fonts/recoleta-regular.otf');
}

body {
    background-color: #222222;
    color: rgba(255, 255, 255, 0.87);
}